section {
    background-color: var(--light-purple);
}

.taskboard_container {
    margin: 0 50px 20px 50px;
    border-radius: 20px;
    background-color: var(--light-white);
    padding: 20px;

}

.taskboard_title {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .taskboard_container {
        margin: 0 20px 20px 20px;
    }
    
}